{% extends "BillbotBundle:Billbot:layout.html.twig" %}

{% block title %}{{ parent() }} - Accueil {% endblock %}

{% block body %}

{{ include("BillbotBundle:Billbot:bandeau.html.twig") }}

	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-12">
				<h1> Bienvenue sur le projet Billbot </h1>
				<p>	Billbot est un projet universitaire conçu par les étudiants 
					du DUT INFORMATIQUE Année Spéciale 2016-2017 de l'IUT ORSAY. <br/><br/>
					Mais au fait, que permet de faire Billbot ? 
					<br/> C'est simple, donnez lui une image ou vidéo contenant des pièces de monnaies. Il se débrouillera pour detecter,reconnaitre,et suivre la/les pièce(s).<br/>
					Curieux d'essayer ? <br/>
					Démarrez l'expérience en cliquant ci-dessous:
				</p>
			</div>
		</div>
		<div class= "row justify-content-md-center">
			<span class="glyphicon glyphicon-arrow-down"></span><br/>
			<a class="btn btn-white btn-default"  href="{{path('projet')}}"> 
				Découvrir Billbot </a>
			</div>

		</div>
{% endblock %}
